@keyframes loadrot {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.graphic {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 100%;
  height: 100%;
  background-image: url(../public/assets/loader.gif);
  background-size: contain;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  animation: loadrot 0.8s ease-in-out 0s infinite;
}